.confirmation-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.confirmation-popup {
  background: #fff;
  padding: 60px 30px;
  border-radius: 5px;
  text-align: center;
}

.confirmation-popup-message {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.confirmation-popup-btn {
  margin-top: 24px;
  max-width: 300px;
}
