.trip-overview-container {
  max-width: 1440px; /* Set max width for readability */
  margin: 0 auto; /* Center the content */
  padding: 16px;
}

.trip-form-header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 24px;
}

.back-button {
  position: absolute;
  left: 16px;
  top: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.trip-overview-list {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  padding: 16px 0px;
  margin: 0px;

  @media (min-width: 768px) and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
