.trip-detail-container {
  max-width: 600px; /* Set max width for readability */
  margin: 0 auto; /* Center the content */
  padding: 16px;
}

.trip-detail-header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 24px;
}

.back-button {
  position: absolute;
  left: 16px;
  top: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.trip-detail-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.trip-detail-content {
  margin-bottom: 24px;
}

.trip-detail-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px; /* Increased spacing */
  line-height: 1.6; /* Adjusted line height for readability */
}

.trip-detail-label {
  font-size: 0.875rem;
  color: var(--black-mid);  
}

.trip-detail-value {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--black-dark);
}

.total-label {
  font-weight: bold;
}

.total-value {
  font-weight: bold;
  color: var(--pink-from);
}

.trip-detail-divider {
  margin: 12px 0;
  border: 1px dashed var(--black-border);
}

.trip-detail-status {
  font-size: 0.875rem;
  font-weight: bold;
}

.trip-detail-status.approved {
  color: var(--status-success);
}

.trip-detail-status.awaiting-approval {
  color: var(--status-processing);
}

.trip-detail-status.not-submitted {
  color: var(--status-warning);
}

/* buttons */
.trip-detail-actions {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Space between rows */
}

.trip-detail-actions-row {
  display: flex;
  justify-content: center;
  gap: 24px; /* Space between Edit and Delete buttons */
}
